/* Allmän h*/

body {
    background-color: rgb(139, 240, 255);
    margin: 2px;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.rounded {
    border-radius: 5%;
}

.container {
    display: flex;
    justify-content: center; 
}

/* Nav design */

.nav-item {
    flex-grow: 1;
    align-items: center;
    flex-grow: 20;
    text-align: center;
    
}

.navbar-design {
    line-height: 60px;
    background-color: #00ADB5;
    font-size: large;
    height: 60px;
}
  
.nav-item + .nav-item {
    margin-left: 3px;
}

.nav-item:nth-child(5) {
    flex-grow: 1;
}

.img-cart {
    padding: 10px 10px 0px 10px;
}

/* Hem design */

h1 {
    margin: 40px;
    margin-bottom: 65px;
    justify-content: center;
    font-size: 400%
}

.home-item {
    text-align: center;
}

.home-item + .home-item {
    margin-left: 1%;
}

.home-box-design {
    background-color: #393E46;
    width: 400px;
    height: 480px;
    color: #EEEEEE;
    font-size: 120%;
}

.home-p {
    text-align: center;
    max-width: 40%;
    background-color: #00ADB5;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 70px;
}

.home-h5 {
    margin-top: -30px;
    padding-top: 5px;
    color: #393E46;
}

/* Produkter design */

.products-container {
    margin-inline: auto;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 50px ;
}

h2 {
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
}

.product-item {
    text-align: center; 
    margin-bottom: 1%;
    margin-left:1%;
}

.product-design {
    background-color: transparent;
    width: 400px;
    height: 480px;
    line-height: 35px;
    color: #EEEEEE;
    font-size: 120%;
}

hr {
    margin-left: 5%;
    width: 90%;
    background-color: black;
}

/* Varukorg sida design */

.cart-title {
    font-size: 200%;
}

.cart-content {
    background-color: #00ADB5;
    margin: 0px 40px 0px 40px;
    font-size: 150%;
    box-sizing: border-box;
    padding: 10px 0px 20px 20px;

}

/* Kontakter design */

.contacts-content {
display: flex;
}

.container-contacts {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50px;
    margin-left: 40px;
}

.contacts-title {
    font-size: 250%;
    text-align: center;
}

.contacts-p {
    background-color: #00ADB5;
    width: 90%;
    margin-left: 40px;
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
}

.contacts-forum {
    background-color: #00ADB5;
    margin-top: 10px;
    width: 650px;
    height: 450px;
    padding: 15px 5px 10px 5px;
}

label {
    font-size: larger;
    padding-right: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 40px;
}

input {
    padding: 5px;
    margin-left: 10px;
    width: 500px;
    margin-bottom: 20px;
    background-color: #EEEEEE;
}

#email {
    margin-left: 49px;
}

#resizable {
    margin-left: 10px;
    margin-top: 5px;
    height: 200px;
    width: 620px;
    background-color: #EEEEEE;
}

#submit {
    width: 100px;
    margin-top: 10px;
    background-color: #EEEEEE;
    cursor: pointer;
}

/* Om oss style */

.about-container {
    display: flex;
    justify-content: center;
}

.about-boxes {
    background-color: black;
    height: 400px;
    width: 300px;
    padding: 1px;
}

.about-boxes + .about-boxes {
    margin-left: 5%;
}

.about-item-top {
    background-color: #393E46;
    color: #007532;
    height: 250px;
    font-family: Georgia, serif;
    text-align: center;
}

#about-top-1 {
    font-size: 450%;
    font-weight: 600;
    line-height: 80px;
}

#about-top-2 {
    font-size: 500%;
    font-weight: 600;
    line-height: 110px;
}

#about-top-3 {
    font-size: 400%;
    font-weight: 700;
    line-height: 80px;
}

.about-item-bottom {
    background-color: #00ADB5;
    height: 150px;
    text-align: center;
    font-size: 100%; /*200%*/
}

/* Footer design */

footer {
    background-color: #393E46;
    height: 50px;
    margin-left: -2px;
    position: absolute;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    z-index: -1;
}

.footer-contents {
    font-size: 100%;
    line-height: 10px;
    margin-left: 10px;
    color: #EEEEEE;
}

/* Animationer */

/* Home animations */

#fps-animation {
    animation: fps-animate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: 20ms;
}

@keyframes fps-animate {
    0%, 24% {
        background-image: url(/img/coverart/cs-go.jpg);
    }

    25%, 49% {
        background-image: url(/img/coverart/overwatch.jpg);
    }

    50%, 74% {
        background-image: url(/img/coverart/valorant.jpg);
    }

    75%, 100% {
        background-image: url(/img/coverart/rainbow-six.jpg);
    }
}


#openworld-animation {
    animation: openworld-animate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: 20ms;
}

@keyframes openworld-animate {
    0%, 24% {
        background-image: url(/img/coverart/gta5.jpg);
    }

    25%, 49% {
        background-image: url(/img/coverart/forza-horizon-5.jpg);
    }

    50%, 74% {
        background-image: url(/img/coverart/eldern-ring.jpg);
    }

    75%, 100% {
        background-image: url(/img/coverart/minecraft.jpg);
    }
}


#moba-animation {
    animation: moba-animate;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 20ms;
}

@keyframes moba-animate {
    0%, 49% {
        background-image: url(/img/coverart/league-of-legends.jpg);
    }

    50%, 100% {
        background-image: url(/img/coverart/dota2.jpg);
    }
}

/* Products hover and add to cart animations */

/* gör bilden större */
.hover-animation:hover { 
    animation: move;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    
}

@keyframes move {

    0% {
        height: 480px;
        width: 400px;
        margin: 0px;
    }

    100% {
        height: 490px;
        width: 410px;
        margin-top: -10px;
        margin-left: -10px;
    }
}

/* förstorar varukorg bilden när musen är över produkten */
.hover-show-add-cart:hover ~ .add-cart-img {
    scale: 0.5;
    opacity: 0.8;
}

/* förstorar varukorg bilden när musen är över varugorgbilden */
.cart-hover:hover {
    scale: 0.5;
}

.add-cart-img {
    position: relative;
    z-index: 1;
    background-color: #00ADB5;
    scale: 0;
    border-radius: 25%;
    float: right;
    margin-top: -100px;
    margin-right: -10px;
}

.cart-hover:hover + .product-item {
    height: 490px;
    width: 410px;
    margin-top: -10px;
    margin-left: -10px;
}

@keyframes hover-fix {
    0% {
        height: 490px;
        width: 410px;
        margin-top: -10px;
        margin-left: -10px;
    }
}

