body {
    background-color: #EEEEEE;
    margin: 2px;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center; 
}

.nav-item {
    flex-grow: 1;
    align-items: center;
    flex-grow: 20;
    text-align: center;
    
}

.navbar-design {
    line-height: 60px;
    background-color: #00ADB5;
    font-size: large;
    height: 60px;
}
  
.nav-item + .nav-item {
    margin-left: 3px;
}

.nav-item:nth-child(5) {
    flex-grow: 1;
}

.img-cart {
    padding: 10px 10px 0px 10px;
}

h1 {
    margin: 40px;
    margin-bottom: 65px;
    justify-content: center;
    font-size: 400%
}

.home-item {
    text-align: center;
}

.home-item + .home-item {
    margin-left: 1%;
}

.home-box-design {
    background-color: #393E46;
    width: 400px;
    height: 480px;
    color: #EEEEEE;
    font-size: 120%;
}

.home-p {
    text-align: center;
    max-width: 40%;
    background-color: #00ADB5;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 70px;
}

.home-h5 {
    margin-top: -30px;
    padding-top: 5px;
    color: #393E46;
}

.products-container {
    margin-inline: auto;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 50px ;
}

h2 {
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
}

.product-item {
    text-align: center; 
}

.product-item:nth-child(-n+3) + .product-item:nth-child(-n+3) {
    margin-left: 1%;
    
}

.product-item:nth-child(4) {
    margin-top: 1%;
}

.product-design {
    background-color: #393E46;
    width: 30%;
    height: 400px;
    line-height: 35px;
    color: #EEEEEE;
    font-size: 120%;
}

hr {
    margin-left: 5%;
    width: 90%;
    background-color: black;
}

.cart-title {
    font-size: 200%;
}

.cart-content {
    background-color: #00ADB5;
    margin: 0px 40px 0px 40px;
    font-size: 150%;
    box-sizing: border-box;
    padding: 10px 0px 20px 20px;

}

.contacts-content {
display: flex;
}

.container-contacts {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 40px;
}

.contacts-title {
    font-size: 250%;
    text-align: center;
}

.contacts-p {
    background-color: #00ADB5;
    width: 90%;
    margin-left: 40px;
    padding: 5px 20px 20px 10px;
    box-sizing: border-box;
}

.contacts-img {
    background-color: #00ADB5;
    margin-top: 50px;
    width: 40%;
    height: 500px;
}

footer {
    background-color: #393E46;
    height: 100px;
    margin-left: -2px;
    position: absolute;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;

}


/* Animationer */

#fps-animation {
    animation: fps-animate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: 10ms;
}

@keyframes fps-animate {
    0%, 24% {
        background-image: url(/img/coverart/cs-go.jpg);
    }

    25%, 49% {
        background-image: url(/img/coverart/overwatch.jpg);
    }

    50%, 74% {
        background-image: url(/img/coverart/valorant.jpg);
    }

    75%, 100% {
        background-image: url(/img/coverart/rainbow-six.jpg);
    }
}


#openworld-animation {
    animation: openworld-animate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: 10ms;
}

@keyframes openworld-animate {
    0%, 24% {
        background-image: url(/img/coverart/gta5.jpg);
    }

    25%, 49% {
        background-image: url(/img/coverart/forza-horizon-5.jpg);
    }

    50%, 74% {
        background-image: url(/img/coverart/eldern-ring.jpg);
    }

    75%, 100% {
        background-image: url(/img/coverart/minecraft.jpg);
    }
}


#moba-animation {
    animation: moba-animate;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 10ms;
}

@keyframes moba-animate {
    0%, 49% {
        background-image: url(/img/coverart/league-of-legends.jpg);
    }

    50%, 100% {
        background-image: url(/img/coverart/dota2.jpg);
    }
}